<!DOCTYPE html>
<html>
<head>
  <title>Contact info</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "contact_info/application", media: "all" %>
  <%= javascript_include_tag "contact_info/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
